.main-content {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 20px 20px 30px;
  width: 100%;
}

.form-container {
  border-bottom: 2px solid lightgrey;
  display: flex;
  flex-direction: column;
  padding: 0 80px 20px 20px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.1em;
  font-weight: 500;
}

.form-check-input {
  margin-bottom: 1rem;
  margin-right: 5px;
}

.card-creation-container {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.card-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.card-button-container button {
  margin-top: 5px;
  width: 100px;
}

.card-layout {
  align-items: center;
  background-color: rgb(252, 175, 61);
  border: 10px solid rgb(39, 39, 39);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 300px;
}

.card-layout h1 {
  background-color: rgb(39, 39, 39);
  color: white;
  font-size: 1.7em;
  margin: 10px 0 0;
  padding: 10px;
}

.card-layout img {
  height: 150px;
  width: 100%;
}

.card-description {
  background-color: rgb(39, 39, 39);
  color: white;
  font-size: 0.8em;
  height: 70px;
  margin: 0 0 10px;
  padding: 5px;
  width: 100%;
}

.card-attributes-container {
  background-color: rgb(238, 139, 25);
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  padding: 0 20px;
  width: 100%;
}

.card-attributes {
  display: flex;
  font-weight: 800;
  justify-content: center;
}

.card-attributes:nth-child( 1 ):before {
  content: 'Atributo 1 .................................';
  padding: 2px;
}

.card-attributes:nth-child( 2 ):before {
  content: 'Atributo 2 ................................. ';
  padding: 2px;
}

.card-attributes:nth-child( 3 ):before {
  content: 'Atributo 3 ................................. ';
  padding: 2px;
}

.card-trunfo {
  background-color: rgba(25, 231, 104, 0.918);
  border-radius: 50%;
  bottom: 315px;
  font-size: 15px;
  left: 85px;
  padding: 10px;
  position: relative;
}

.container-filter {
  display: flex;
  flex-direction: column;
  padding: 0 80px 20px 20px;
  width: 30%;
}

.container-filter h2 {
  margin: 20px 0;
  width: 100%;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  width: 70%;
}

.card-collection .card-button-container {
  margin: 20px;
}
