.main-content {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-background {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-background {
  background-color: green;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card-collection {
  color: red;
  background-color: black;
  display: flex;
  flex-direction: column;
}
