.main-content {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-background {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-layout {
  background-color: green;
  display: flex;
  flex-direction: column;
}
